.app {
    background-color: #05292E;
    min-height: 100vh;
}

.app__title {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1.5em;
}

.app__form {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.app__input {
    padding: 0.6em 1.2em;
    border-radius: 0.5em 0 0 0.5em;
}

.app__btn {
    border-radius: 0 0.5em 0.5em 0;
    padding: 0 1em;
    background-color: rgb(125, 199, 14);
    color: white;
    cursor: pointer;
}

.app__listLocations {
    cursor: pointer;
    background-color: #062226;
    padding: 2em;
    border-radius: 0.8em;
    max-width: 600px;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0.2em 0.2em 0.5em #0009; 
}

.app__listNames:hover{
   background-color: rgb(125, 199, 14);
   border-radius: 2px;
   padding-left: 0.2em;
}

#listLocationContent{
    display: none;
}

#listLocations {
    visibility: visible;
}