.app {
    background-color: #05292E;
    min-height: 100vh;
}

.app__title {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1.5em;
}

.app__form {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.app__input {
    padding: 0.6em 1.2em;
    border-radius: 0.5em 0 0 0.5em;
}

.app__btn {
    border-radius: 0 0.5em 0.5em 0;
    padding: 0 1em;
    background-color: rgb(125, 199, 14);
    color: white;
}